:host {
  --photo-width: 400px;
  --photo-position-top: min(5dvh, 10px);
  --photo-position-left: min(5dvh, 10px);
  --blank-width: calc(100vw - var(--photo-width) - var(--photo-position-left));
  --bio-width: 300px;
  --bio-height: 312px;
  --bio-position-right: calc((var(--blank-width) - var(--bio-width)) / 2);
  --bio-position-left: calc(100vw - var(--bio-width) - var(--photo-position-left));
  --bio-position-bottom: calc((100dvh - var(--bio-height)) / 2);
}



.about-container {
  opacity: 0; /* For fade-in */
  animation: fadeIn 1s ease forwards;
}

.photo {
  position: absolute;
  top: var(--photo-position-top);
  left: var(--photo-position-left);
  height: calc(100dvh - 20px);
  width: var(--photo-width);
  background-size: cover;
  background-image: url(../../../public/assets/personal-photo.png);
  overflow: hidden;
}

@media (max-width: 410px) {
  .photo {
    width: 93vw;
  }
}

.bio-container {
  position: absolute;
  bottom: var(--bio-position-bottom);
  right: var(--bio-position-right);
  width: 60vw;
  width: var(--bio-width);
}

@media (max-width: calc(700px + 5dvh)) {
  .bio-container {
    left: var(--bio-position-left);
    bottom: calc(var(--photo-position-top) + 10px);
  }
}

.bio-section {
  padding: 10px;
  color: white;
  font-family: Arial;
  backdrop-filter: brightness(50%);
  margin-bottom: 10px;
  border: 1px solid white;
}

a {
  color: white;
  text-transform: none;
}
