<div class="about-container fade-in">
  <div class="photo"></div>


  <div class="bio-container">

    <div class="bio-section">
      Hi, I'm Alison.  I live in Rensselaer, NY.
    </div>

    <div class="bio-section">
      I'm addicted to the feeling you get when a new idea breaks a puzzle wide-open.  My first career was as a math teacher, where my top priority was to inspire that feeling in others.  I started over as a software engineer in 2019, and now get my daily fix of problem-solving euphoria from bug-hunting and solution architecture.
    </div>

    <div class="bio-section" style="margin-bottom: 5px">
      When I'm not writing code, I like to sing <a href="http://www.albanysacredharp.org">old-fashioned American folk hymns</a>.
    </div>

  </div>
</div>
