<div class="about-container fade-in">
  <div class="photo"></div>
</div>

<div class="bio-container">

  <div class="bio-section">
    Hi, I'm Alison.
  </div>

  <div class="bio-section">
    I love problem-solving and talking a puzzle through.  My first career was as a high-school math teacher, which was a natural fit.  However, one of my favorite parts of my job was programming tools for my teaching.  I realized that a career in software engineering would scratch the problem-solving itch, while also giving the satisfaction of making new things come to life.  I've now been a developer for six years.
  </div>

  <div class="bio-section">
    When I'm not writing code, I like to sing <a href="http://www.albanysacredharp.org">old-fashioned American folk hymns</a>.
  </div>

  <div class="bio-section">
    I'm a 39 year old woman living in Rensselaer, NY.
  </div>

</div>

