<div class="about-container fade-in">
  <div class="photo"></div>
</div>

<div class="bio-container">

  <div class="bio-section">
    Hi, I'm Alison.  I live in Rensselaer, NY.
  </div>

  <div class="bio-section">
    I love problem-solving and talking a puzzle through.  My first career was as a high-school math teacher, which was a natural fit, but I started over as a developer in 2019.  As it turns out, software engineering scratches all the same itches.
  </div>

  <div class="bio-section">
    When I'm not writing code, I like to sing <a href="http://www.albanysacredharp.org">old-fashioned American folk hymns</a>.
  </div>

</div>

