
.projects {
  display: flex;
  justify-content: space-evenly;
  opacity: 0; /* For fade-in */
  animation: fadeIn 1s ease forwards;
}

.project-container {
  height: 60vh;
  top: 5vh;
  width: 40vw;
}

.block-container {
  top: 5vh;
  height: 40vh;
  width: 30vw;
}

.project-description {
  font-family: Arial;
  color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  gap: 10px;
}


.github-logo {
  background-image: url(../../../public/assets/github-logo.jpg);
  height: 50px;
  width: 50px;
  background-size: cover;
  margin-right: 10px;
}

.project-text {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .projects {
    flex-direction: column;
    margin-left: 10vw;
  }

  .block-container {
    width: 60vw;
    margin-left: 8vw;
  }

  .project-container {
    position: relative;
    top: -100px;
    height: 250px;
    width: 80vw;
  }

  .top {
    z-index: 2;
  }
}
