
<div class="projects fade-in">
  <div class="project-container top">
    <div class="block-container">
      <app-falling-blocks [blockData]="alison"></app-falling-blocks>
    </div>
    <div class="project-description">
      A personal exercise in animations and static web development.
    </div>
    <a href="https://github.com/pvnotp/AlisonForster" class="github">
      <div class="github-logo"></div>
    </a>
  </div>

  <div class="project-container bottom">
    <div class="block-container">
      <app-falling-blocks [blockData]="alchemy"></app-falling-blocks>
    </div>
    <div class="project-description">
      Website for Courtney Edwards' coaching practice.  Work in progress.
    </div>
    <a href="https://github.com/pvnotp/AlchemyCoaching" class="github">
      <div class="github-logo"></div>
    </a>
  </div>

</div>

