
.projects {
  display: flex;
  justify-content: space-around;
  opacity: 0; /* For fade-in */
  animation: fadeIn 1s ease forwards;
}

.project-container {
  height: 60vh;
  top: 5vh;
  width: 20vw;
}

.block-container {
  top: 5vh;
  height: 40vh;
  width: 20vw;
}

.project-description {
  font-family: Arial;
  color: white;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  gap: 10px;
  border: 5px solid white;
}

.project-text {
  display: flex;
  text-align: center;
}

@media (max-width: 1000px) {
  .projects {
    flex-direction: column;
  }

  .block-container {
    width: 50vw;
  }

  .project-container {
    position: relative;
    top: -100px;
    height: 300px;
    width: 80vw;
    margin-left: 45vw;
  }

  .top {
    z-index: 2;
  }

  .bottom {
      top: -150px;
  }

  .project-description {
    width: 30vw;
  }
}
